/*
Typography:
The base font size is 16px for all screen width 600px and up (the mobile base font size is 14px)
The body font family is Raleway Light
The headings font family is Playfair Display
The HEX code for the body font colour is #2d2d2d
The HEX code for the light grey text colour is #969696
The HEX code for orange brand colour is #e2574c (used for links, some headings, and buttons)
The HEX code for the dark grey background colour is the footer is #242424
The HEX code for the link hover state colour is #b64036

The HEX code for the light grey border colour is #d7d7d7
If undertaking the responsive stretch goal, the width of the tablet-friendly content area is 600px
*/

body{
  font-family: "Raleway Light";
  color: #2d2d2d;
}
header{
  font-family: "Raleway Medium";
  font-weight: 600;
}
a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

/*Headings -------------------------------------------*/
h1, h2{
  font-family: "Playfair Display";
}
h2, header{
  color: #2d2d2d;
}
em{
  font-weight: 400;
  font-family: "Playfair Display Italic"
}
strong{
  font-family: "Playfair Display Bold"
}

/*Header ------------------------------------------- */
header{
/*2-Cell Flexbox*/
  display: flex;
  flex-direction: column;
}
header a{
  color: #e2574c;
  text-transform: uppercase;
}
a:hover{
  color: #b64036;
}
aside {
  /*Nested Image Flexbox*/
display:flex;
justify-content:space-between;
flex-grow: 0;
}
nav{
  /*Nested Nav Flexbox*/
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 10;
  justify-content: space-around;
}
.n-item{
  align-self: center;
  flex: 1 1 0;
  text-align: center;

}
aside img{
  max-height: 4rem;
}
/* Hero -------------------------------------------------*/
h2, main p{
  text-align: center;
}
h2{
  line-height: 2rem;
  padding-top: 1rem;
  font-size: 2rem;
}
.hero{
  background-image: url("../images/banner-girl.png"), 
  linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25)),
  url("../images/flower-bkgd.jpg");
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: center;
  background-size: auto 37vh;
  color: white;
  height: 25vh;
  padding-top: 12vh;
  text-align: center;
}
.hero p{
   text-transform: uppercase;
}
/* "Hand-Crafted Styles" Main section (categories)------*/
main{
    font-family: "Raleway Light"
}
main p, .email p{
  line-height: 1.6rem;
  font-size:  0.9rem;
  font-weight: 600;
}
main p{
  color: #969696;
  margin-bottom: 3.5rem;
}
.category{
  /*styling for 2 row flexboxes of categories */
  align-content: center;
  align-items: stretch;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  height: 12rem;
  justify-content: center;
  
}
.mens, .trends, .glasses, .sale, .bags, .womens{
  background-size: cover, cover;
  background-position: center, center;
  color: white;
  flex: 1 1 1rem;
  margin: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5.5rem;
  width: 5rem;
}

.mens {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25)),
  url("../images/mens-category.jpg");
}
.trends {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25)),
  url("../images/trends-category.jpg");
}
.glasses {
  background-image:  linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25)),
  url("../images/glasses-category.jpg");
}
.sale {
  background-image:  linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25)),
  url("../images/sale-category.jpg");
}
.bags {
  background-image:  linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25)),
  url("../images/bags-category.jpg");
}
.womens {
  background-image:  linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25)),
  url("../images/womens-category.jpg");
}

/* Email section (subscribe)----------------------------*/
.email {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), url("../images/wave-bkgd.jpg");
  background-size: cover, cover;
  background-position: bottom;
  padding-bottom: 4rem;
  text-align: center;
  color: white;
}
.email h2{
  color: white;
}

.txtWrap {
  border-radius: 2rem;
  background-color: white;
  display:flex;
  justify-content: space-between;
  padding: 0.2rem 0.2rem 0.2rem 0.6rem;
  width: 80%;
  margin: auto;

}
form {
margin: none;

}
.email input{
  flex: 1 1 0;
  border-radius: 2rem;
  border: none;
  box-shadow: none;
  width: 40%;
  color: #969696;
}
button {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  text-shadow: none;
  box-shadow: none;
  border: none;
  text-align: center;
  width: 25%;
  min-width: 110px;
  float: right;
  background-color:#e2574c;
  color: white;
  border-color: white;
}

/*Contact Info and Social Media Links -----------*/
footer{
  background-color: #242424;
  background-size: cover;
  color: white;
  font-size: 0.8rem; 
  line-height: 0.8rem;
  margin-top: 0.5rem;
  padding: 3rem;
  text-align: center;
  }
footer a{
  color: white;
  text-decoration: underline;
}
footer div{
  display:flex;
  justify-content: center;

}
footer i{

}
footer span{
  display:none;
}
@media screen and (min-width:600px){
/* Header: NavBar and Header Icons --------*/
  header{
    position: relative;
    height: 4em;
  }
  nav{
    left: 25%;
    top: 35%;
    width: 60%;
    justify-content: space-between;
    position: absolute;
  }

@media screen and (min-width: 1240px){
  nav{
    width: 50%;
  }
}
